.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000; /* Maintain existing color */
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000; /* Maintain existing color */
}

.question {
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.option {
  padding: 10px;
  border: 2px solid #000; /* Changed to solid border */
  background-color: #fff; /* Changed to white background */
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #000; /* Changed text color */
  font-size: 1.5rem;
}

.option:hover {
  background-color: #e0e0e0; /* Light gray on hover */
}

.option.clicked {
  background-color: #ffcc00; /* Yellow for clicked option */
}

.nextButton {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px; /* Add margin at the bottom */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  gap: 10px;
  margin-top: 30px; /* Increase top margin for more spacing */
  margin-bottom: 20px; /* Add margin at the bottom */
  margin-left: 10px;
  display: inline-block; /* Display as inline-block for proper spacing */
  align-items: center;
}


.nextButton:hover {
  background-color: #0056b3;
}

p {
  margin: 10;
  font-size: 1.2rem; /* Increase font size for better readability */
}